In [1]:
import numpy as np 
import pandas as pd 
from apyori import apriori

In [2]:
store_data = pd.read_excel("D:/datamining/data.xls")

In [3]:
store_data.head()

  Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
0     Wine    Chips    Bread   Butter     Milk    Apple
1     Wine      NaN    Bread   Butter     Milk      NaN
2      NaN      NaN    Bread   Butter     Milk      NaN
3      NaN    Chips      NaN      NaN      NaN    Apple
4     Wine    Chips    Bread   Butter     Milk    Apple

In [4]:
store_data.tail()

   Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
46      NaN    Chips      NaN   Butter     Milk    Apple
47     Wine    Chips    Bread   Butter     Milk    Apple
48     Wine      NaN    Bread   Butter     Milk    Apple
49     Wine    Chips    Bread      NaN     Milk    Apple
50      NaN    Chips      NaN      NaN      NaN      NaN

In [5]:
store_data.shape

(51, 6)

In [6]:
records = []
for i in range(0,22):
    records.append([str(store_data.values[i,j]) for j in range(0,6)])

In [7]:
association_rules = apriori(records, min_support=0.10, min_confidence=0.6, min_lift=1.3, min_length=2)
association_results = list(association_rules)

In [8]:
print(len(association_results))

11

In [9]:
print(association_results[0])

RelationRecord(items=frozenset({'Bread', 'Butter', 'Chips'}), support=0.4090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread', 'Chips'}), confidence=0.6000000000000001, lift=1.3200000000000003), OrderedStatistic(items_base=frozenset({'Bread', 'Chips'}), items_add=frozenset({'Butter'}), confidence=0.9000000000000001, lift=1.3200000000000003)])

In [10]:
results = []
for item in association_results: 
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0])
    value1 = str(items[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0, value1, value2, value3, value4)
    results.append(rows)

    label = ['title-1', 'title-2', 'support', 'confidence', 'lift']

    store_suggestion = pd.DataFrame.from_records(results, columns=label)

    print(store_suggestion)

  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
4    Milk   Bread  0.4090     0.6923  1.3846
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
4    Milk   Bread  0.4090     0.6923  1.3846
5    Wine  Butter  0.2272      0.625   1.375
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
4    Milk   Bread  0.4090     0.6923  1.3846
5    Wine  Butter  0.2272      0.625   1.375
6    Wine  Butter  0.2727     0.6666  1.3333
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
4    Milk   Bread  0.4090     0.6923  1.3846
5    Wine  Butter  0.2272      0.625   1.375
6    Wine  Butter  0.2727     0.6666  1.3333
7    Wine    Milk  0.2272     0.8333  1.4102
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
4    Milk   Bread  0.4090     0.6923  1.3846
5    Wine  Butter  0.2272      0.625   1.375
6    Wine  Butter  0.2727     0.6666  1.3333
7    Wine    Milk  0.2272     0.8333  1.4102
8    Wine  Butter  0.2727        0.6    1.32
  title-1 title-2 support confidence    lift
0   Bread  Butter  0.4090     0.6000  1.3200
1   Bread  Butter  0.3181     0.6363  1.4000
2    Wine   Bread  0.2727        1.0   1.375
3    Wine   Bread  0.3181     0.7000  1.4000
4    Milk   Bread  0.4090     0.6923  1.3846
5    Wine  Butter  0.2272      0.625   1.375
6    Wine  Butter  0.2727     0.6666  1.3333
7    Wine    Milk  0.2272     0.8333  1.4102
8    Wine  Butter  0.2727        0.6    1.32
9    Wine  Butter  0.1363        1.0   1.375
   title-1 title-2 support confidence    lift
0    Bread  Butter  0.4090     0.6000  1.3200
1    Bread  Butter  0.3181     0.6363  1.4000
2     Wine   Bread  0.2727        1.0   1.375
3     Wine   Bread  0.3181     0.7000  1.4000
4     Milk   Bread  0.4090     0.6923  1.3846
5     Wine  Butter  0.2272      0.625   1.375
6     Wine  Butter  0.2727     0.6666  1.3333
7     Wine    Milk  0.2272     0.8333  1.4102
8     Wine  Butter  0.2727        0.6    1.32
9     Wine  Butter  0.1363        1.0   1.375
10    Wine  Butter  0.1818     0.6666  1.3333

In [11]:
store_suggestion.describe()

       title-1 title-2 support confidence   lift
count       11      11      11         11     11
unique       3       3       6          9      7
top       Wine  Butter  0.2727        1.0  1.375
freq         8       7       3          2      3

In [16]:
store_suggestion.to_excel("D:/data_hasil.xlsx")